{% extends 'base_faculty.html' %}

{% block body %}
    <div class="mt-5">
    </div>

<div class="row">
	<div class="col-md-1"></div>
    <div class="col-md-7">
    <div class="ml-5 container">
        {% if Client %}
                <table class="table">
                    <thead class="thead" style="color: #745959; background-color: #87ff9b">
                        <tr>
                        <th scope="col">Uer Name</th>
                        <th scope="col">Student Attended</th>
                        </tr>
                    </thead>
                {% for key, values in Client.items %}
                        <tbody>
                            <tr>
                                <td>{{key}}</td>
                                <td>{{values}}</td>
                            </tr>
                        </tbody>
                {% endfor %}
                </table>
        {% else %}
            <div class="jumbotron text-center bg-success">
                NO User EXIST IN DATABASE
            </div>
        {% endif %}
    </div>


{% endblock %}
